html {
  font-size: 18px;
}

body {
  background-color: grey;
  color: red;
  font-family: Helvetica;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  background-color: black;
  color: white;
}

.logo .container {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding: 0 0.5rem;
}

.logo h3 {
  font-size: 1rem;
  padding: 0.66rem 0.5rem;
}

.main-banner {
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  height: 25rem;
}

.main-banner .container{
  padding-top: 9rem;
}

.black-box {
  width: 25rem;
  background-color: black;
  color: white;
}
/* somethere error */

.black-box .title {
  padding: 2rem 3rem;
}

.title h6 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.title h3 {
  font-size: 2rem;
  font-weight: bold;
}

nav {
  background-color: firebrick;
  padding: 0.75rem 0;
}

nav .container {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
}

.product-grid {
  background-color: white;
  color: white;
  padding: 3rem 0 4rem 0;
}

.lineproducts {
  display: flex;
  justify-content: space-between;
}

.oneproduct {
  border: 4px solid black;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.oneproduct h3 {
  padding: 0.5rem;
  text-align: center;
  background-color: black;
  color: white;
}

.oneproduct img{
  padding: 2rem;
  max-height: 9rem;
  max-width: 100%;
}
/* somethere error */

.location-and-hours {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.location-and-hours div {
  width: 35%;
}

.location-and-hours h3 {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  margin-bottom: 0.1rem;
}

.location-and-hours span {
  color: black;
}
