html {
  font-size: 18px;
}

body {
  background-color: grey;
  color: red;
  font-family: Helvetica;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  background-color: black;
  color: white;
}

.logo .container {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding: 0 0.5rem;
}

.logo h3 {
  font-size: 1rem;
  padding: 0.66rem 0.5rem;
}

.main-banner {
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  height: 25rem;
}

.main-banner .container{
  padding-top: 9rem;
}

.black-box {
  width: 25rem;
  /* не умещается в 20rem или 360px */
  background-color: black;
  color: white;
}

.black-box .title {
  padding: 2rem 3rem;
}

.title h6 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.title h3 {
  font-size: 2rem;
  font-weight: bold;
}
